.projects {
	margin: 17rem 0 0 0;
	line-height: 0px;
	text-align: center;
	div {
		flex: 1;
	}
	img {
		margin: 1rem;
		width: calc(100% - 2rem);
		//height: calc(100% - 2rem);
	}
}
.projects_wrap{
	margin-top: 4rem;
}

.projects_row{
	display: flex;
	align-items: center;
	position: relative;
	@media (max-width: 750px) {
		display: block;	
	}
}
.description{
	width: 100%;
	margin-left: 1rem;
	display: none;
	line-height: 47px;
	text-align: left;
}

/* titleClouds CSS */

.project-image {
    cursor: none;
    margin-bottom: 20px;
    transition: all .3s;
}
.project-image:hover {
    opacity: .7;
}
#bildbeschreibung{
    display:none;
    position:fixed;
    z-index:999999;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
}
/* END titleClouds */