.is-yellow{
	background-color: #FFDC00;
}
.is-yellow__border{
	//border: yellow solid 8px;
	box-shadow: 0 0 32px -10px #FFDC00, inset 0 0 32px -10px #FFDC00;
	z-index: 100;
}

ul.menu{
	display: none;
	position: absolute;
}

.showMouse {
	width: 100%;
	height: 4rem;
	position: fixed;
	cursor: default;
	z-index: 10;
}
.projects {
	margin: 17rem 0 0 0;
	line-height: 0px;
	text-align: center;
	div {
		flex: 1;
	}
	img {
		margin: 1rem;
		width: calc(100% - 2rem);
		//height: calc(100% - 2rem);
	}
}
.projects_wrap{
	margin-top: 4rem;
}

.projects_row{
	display: flex;
	align-items: center;
	position: relative;
	@media (max-width: 750px) {
		display: block;	
	}
}
.description{
	width: 100%;
	margin-left: 1rem;
	display: none;
	line-height: 47px;
	text-align: left;
}


.noCourser {
	cursor: none;
}
.decreaseOpacity {
	transition: opacity .3s;
}
.decreaseOpacity:hover {
	opacity: .7;
}

#bildbeschreibung{
    display:none;
    position:fixed;
    z-index:999999;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
}