html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "monospaceroman",Helvetica,sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 26px;
	line-height: 47px;
	color: #000;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-variant-ligatures: common-ligatures,discretionary-ligatures,contextual;
	-webkit-font-smoothing: Antialiased;
}
a {
	text-decoration: none;
	color: #000;
	&:hover {
		font-style: italic;
	}
}

.wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px;
	@media (max-width: 750px) {
		padding: 0 5px;
		
	}
}

.logo{
	left: 50%;
	top: 2rem;
	position: fixed;
	z-index: 800;
	//color: #0033CC;
}

.header{
	padding: 16rem 0 0 0;
	display: flex;

	ul {
		list-style: none;
		padding-left: 1em;
	}
}

.header_col{
	flex: 1;
}

ul.menu{
	display: none;
	position: absolute;
}
.is-yellow{
	background-color: #FFDC00;
}
.is-yellow__border{
	//border: yellow solid 8px;
	box-shadow: 0 0 32px -10px #FFDC00, inset 0 0 32px -10px #FFDC00;
	z-index: 100;
}

