:root {
	font-size: 22px;
	line-height: 40px;
	@media (max-width: 600px) {
		font-size: 16px;
		line-height: 24px;
		
	}
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "monospaceroman",Helvetica,sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #000;
}
a {
	text-decoration: none;
	color: #000;
	&:hover {
		font-style: italic;
	}
}

.wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px;
	@media (max-width: 750px) {
		padding: 0 5px;
		
	}
}

.logo{
	left: 50%;
	top: 2rem;
	position: fixed;
	z-index: 800;
	//color: #0033CC;
}

.header{
	padding: 38vh 0 0 0;
	display: flex;
	@media (max-width: 600px) {
		padding: 25vh 0 0 0;
	}

	ul {
		list-style: none;
		padding-left: 1em;
	}
}

.header_col{
	flex: 1;
}

